/bin
/experiments

# ignore Intellij IDEA cruft
/.idea
*.iml
/target

# ignore Ecplise IDE cruft
.classpath
.project

# ignore results folder
/results

# ignore some documents
/docs/ChangeLog

# ignore python pyc files
*.pyc